[Desktop Entry]
Version=1.0
Name=3 - Launch controllers
Comment=Launches Vizzy motor controllers on a remote tmux session
Exec=bash -i -c '/home/vizzy/repositories/vizzy_laptop_scripts/3_launch_controllers.sh'
Icon=/home/vizzy/repositories/vizzy_laptop_scripts/shortcuts/icons/controllers.jpeg
Terminal=false
Type=Application
Categories=Utility;Application;
